# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/
terraform-provider-pihole-v6

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# IDE
.idea/
.vscode/
*.swp
*.swo
